<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
        </ul>
    </nav>
    <div class="body">
        <form action="/sign-in" method="post">
        Email: <input type="email" value="" name="email" class="txtbox">
        Password: <input type="password" value="" name="password" class="txtbox">
        <input type="submit" value="Login!">
        </form>
    </div>
</body>
</html>